html {
    font-family: 'sansation', sans-serif;
}

body {
    width: 100%;
}

body {
    margin: auto;
}

@media (min-width: 1400px) {
    .container {
        max-width: 100% !important;
        width: 95%;
    }
}

@media (max-width: 706px) {
    .painel-apresentacao {
        margin-bottom: 7rem;
    }
}


.row {
    --bs-gutter-x: 0;
}

body {
    color: #515151;
}

.logo {
    padding: 0.5rem;
    width: 6rem;
}

header {
    width: 100%;
}

.navbar-light {
    background-color: #ffffff93;
}

.section-sobre {
    margin: auto;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.15);
    background: linear-gradient(to bottom, #2d59a4, #0b3454);
    color: #fff;
    border-radius: 0.5rem;
    transform: skewY(6deg);
}

.apresentacao-section-card {
    transform: skewY(-6deg);
    height: 20rem;
    display: flex;
    padding: 2rem;
}

.apresentacao-section-card-content-container {
    margin: auto;
}

.apresentacao-section-card-container {
    margin-top: 7rem;
    margin-bottom: 7rem;
}

.section-comofunciona-container {
    display: grid;
    color: #fff;
}

.section-comofunciona p {
    font-size: 1rem;
    line-height: 2rem;
    text-align: justify;
}

.section-comofunciona-img {
    grid-area: 1/ 1;
    width: 100%;
    height: auto;
    border-radius: 0.9rem;
    margin: 0;
}

.section-comofunciona-img-test {
    grid-area: 1/ 1;
    background-image: url('../img/img-generated.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.section-comofunciona-overlay {
    grid-area: 1 / 1;
    background: linear-gradient(to top, rgba(24, 21, 63, 0.8), rgba(0, 0, 0, 0.3))
}

.container h4 {
    color: #366fd1;
    font-weight: 600;
    margin-top: 4rem;
    padding-bottom: 2rem;
    text-align: center;
}

.investimento-container h4 {
    margin-top: 0rem;
    padding-bottom: 0rem;
}

.section-comofunciona h1 {
    padding-bottom: 1rem;
}

.metodo-texto {
    display: flex;
    padding: 3rem;
    margin: auto;
}

.metodo-texto article {
    margin: auto;
}

.accordion-container {
    width: 70%;
    margin: auto;
}

.section-professor-inner-container article {
    margin: 5rem auto;
}

nav {
    width: 90%;
    margin: 0px auto;
    background-color: #ffffffd7;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

nav ul li {
    margin: auto 1rem;
}

.nav-item a {
    color: #1e2029;
    vertical-align: middle;
    padding: 0.5rem;
    text-decoration: none;
}

.nav-item a:hover {
    color: #2c57a1;
    transition: all 0.3s ease-in-out;
}

.nav-links {
    display: inline-flex;
    flex-grow: 1;
}


header ul {
    display: inline-flex;
    list-style: none;
    justify-content: end;
    align-items: center;
}

.painel-apresentacao {
    min-height: 40rem;
    min-width: 100%;
}

.painel-text {
    width: 50%;
    margin: auto 0 auto 25%;
    font-size: 1.2rem;
}

.painel-text p {
    margin-top: 2rem;
}

.painel-text button {
    margin-top: 1rem;
}

.painel-img {
    margin-top: -100px;
    width: 50%;
}

.panel {
    width: 70%;
    margin: 2rem auto;
}

.custom-btn {
    color: #FFF;
    width: 16rem;
    padding: 1rem;
    border-color: transparent;
    border-radius: 2rem;
    background-color: #2c57a1bb;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all 0.2s ease-out;
}

.custom-btn:hover {
    background-color: #2c57a1;
    color: #ffffff;
    box-shadow: 0px 0px 10px 0px #5f5f5fab;
    transition: all 0.2s ease-in;

}

.guitar-img {
    position: relative;
    z-index: -1;
    width: 100%;
    margin: 0 0 auto auto;
}

.focus {
    margin-left: 20%;
    color: #2c57a1;
}


footer {
    width: 100%;
    height: auto;
    padding: 4rem;
    background-color: #232323;
}

footer ul {
    list-style: none;
}

footer ul a {
    color: #515151;
}

footer ul li a:hover {
    color: #9ef77e;
}

.copy {
    position: absolute;
    margin-top: 2rem;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}


@media (max-width: 1200px) {
    .painel-text {
        position: absolute;
        margin: 20% auto auto 5%;
        width: 25%;
    }
}

@media (max-width: 700px) {

    .painel-text {}

    .painel-img {
        position: absolute;
        width: 100%;
        padding: 0px;
    }

    .painel-apresentacao {
        height: 40rem;
    }
}